# Cloudflare
CF_API_EMAIL=
CF_DNS_API_TOKEN=

# Let's Encrypt
CERT_MAIL=
MAIN_DOMAIN=
SANS_DOMAIN=

# Dashboard
DASHBOARD_DOMAIN=traefik.localhost
DASHBOARD_ENABLED=true
# test:test
BASIC_AUTH_USER=test
BASIC_AUTH_PASS=$$apr1$$H6uskkkW$$IgXLP6ewTrSuBkTrqE8wj/

# WhoAmI Sample
WHOAMI_DOMAIN=whoami.localhost